body {
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-size: 1.6rem;
    background-color: #292929;
    color: #ffffff;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

.timer {
    font-size: 15vw;
    cursor: pointer;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 40vw;
    aspect-ratio: 1;
    background-color: #3c3c3c;
    color: #1c1c1c;
    transition: color 0.1s;
}

.OrtalamaXY {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 1em;
    padding: 10px;
    margin: 10px;
}

#settings {
    padding: 2vh;
    padding-top: 3vh;
    background-color: #343434;
    border-radius: 10px;
    border: 0px solid #ff000000;
    color: aliceblue;
}

#startBut{
    width: 100%;
}

.Mybtn{
    color: #676767;
}

.numberBut {
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid #484848;
    color: aliceblue;
    width: 100%;
}
input[type="color"] {
        width: 45px;
        height: 45px;
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
    }
    
    input[type="color"]::-webkit-color-swatch {
        border-radius: 20%;
        border: none;
    }

    input[type="color"]::-moz-color-swatch {
        border-radius: 20%;
        border: none;
    }

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 768px) {
    #game {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #gameDiv {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    #Timess {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
    
    .timer {
        width: 70vw;
        height: 70vw;
    }
}
